<script>
function formSubmit() {
	document.getElementById("new_quest").submit();
}
</script>
<h1>Create Quest</h1>
<table id="quest">
<%= render 'form' %>
 <tr>
 <td onclick="formSubmit()"><%= link_to image_tag("/assets/create.png"), "#" %></td>
 </tr>
</table>
