<div class="center hero-unit">
  <h1>Welcome to your Admin Dashboard</h1>

  <p>
  	In this dashboard you can generate QR codes! More Information Soon!
  <p>

  <%= link_to "Generate QR Code", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
