<div class="Sroram">
  <h1>Welcome to Nature Quest</h1>

  <p>
  	Welcome to Nature Quest! This page is mostly for adminstrators to create and generate QR codes for the Nature Quest Mobile application. If you are a user
  	please download the application to make use of the application
  </p>

  <%= link_to "Sign In", '#', class: "btn btn-large btn-primary" %>
  <%= link_to "View all QR Codes!", qrcodes_path, class: "btn btn-large btn-primary" %> 
</div>
