<%- model_class = Qrcode -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human %></h1>
</div>
<% if @auth %>
<%= render :partial => 'form' %>
<% else %>
<p>
	You are not authorized to edit this! This QR code was created by <%=User.find(@qrcode.userid).email %>
</p>
<% end %>

