<%- model_class = Qrcode -%>
<script>
function formSubmit() {
	document.getElementById("edit_qrcode_<%= @qrcode.id %>").submit();
}
</script>
<h1>Edit Question</h1>
<% if @auth %>
 <table id="qr">
<%= render :partial => 'form' %>
 <tr>
 <td onclick="formSubmit()"><%= link_to image_tag("/assets/update.png"), "#" %></td>
 </tr>
</table>
<% else %>
<p>
	You are not authorized to edit this! This QR code was created by <%=User.find(@qrcode.userid).email %>
</p>
<% end %>

