<%- model_class = Qrcode -%>

  <table border="1">
<% @qrcodes.each do |qrcode| %>
  <% if qrcode.userid == current_user.id %>
  <th>
  <tr>
    <td>Ref: #<%= qrcode.ref %></td>
    <td><%= image_tag qrcode.imgloc %></td>
  </tr>
  </th>
  <% end %>
<% end %>
