/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 <style type="text/css">

* {
	padding: 0;
	margin: 0;
}
#toolbar {
	width: 80%;
		bottom: 0px;
		height: 50px;
		background-color:#0F3;
	margin-right: 10%;
	margin-left: 10%;

position:fixed;
}
#header img {
	height: 100px;
	width: 100%;
}
body{
    margin:0;
    padding:0;
	background-position:top;
	background-repeat:no-repeat;
	background-size: 100%;
}
#holder {
	margin-left:auto;
	margin: auto; 
	width:80%;
	overflow:hidden;
	clear:both;
}
#content {
	margin: auto;	
 margin-bottom: 50px;
}
#toolbar {	
 margin-left: auto ;
}
#toolbar ul {
	list-style: none;
	height: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}
#toolbar li {
	float: left; 
	width: 20%;
	height: 50px;
	}
#toolbar li a {
	height: 50px;
	text-align:center;
	display: block;
	color: #FFF;
	padding: 15px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight: bold;
	border-right: 1px solid #ccc;
	}
#toolbar li:first-child a {
	border-left: 1px solid #ccc;
	}
#toolbar li a:hover {
	background-color: #7sA991A; 
	}
#login {
 margin-left: auto ;
  margin-right: auto ;
  text-align:center;
}
input:not([type=submit]):not([type=file]) {
	height: 300%;
	width: 50%;
    font-size:20pt;
}

input[type=submit] {
	border: 0;
	background-image: url(/assets/login.png);
	background-size: contain;
	background-repeat:no-repeat;
	width: 20%;
	height: 50px;	
}
	
</style>