/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 <style type="text/css">

* {
	padding: 0;
	margin: 0;
}
#toolbar {
	width: 80%;
	bottom: 0px;
	height: 50px;
	background-color:#ACD473;
	margin-right: 10%;
	margin-left: 10%;
	position:fixed;
}
#header img {
	height: 100px;
	width: 100%;
}
body{
    margin:0;
    padding:0;
	background-position:top;
	background-repeat:no-repeat;
	background-size: 100%;
	height: 100%;
}
#holder {
	margin: auto; 
	width:80%;
	overflow:hidden;
	height: 100%;
}
#content {
	margin-bottom: 50px;
	width: 100%;
}
#toolbar {	
	margin-left: auto ;
}
#toolbar ul {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}
#toolbar li {
	float: left; 
	width: 20%;
	}
#toolbar li a {
	height: 50px;
	text-align:center;
	display: block;
	color: #FFF;
	padding: 15px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight: bold;
	border-right: 1px solid #ccc;
	}
#toolbar li:first-child a {
	border-left: 1px solid #ccc;
	}
#toolbar li a:hover {
	background-color:#ACD453;
	}
#login {
	margin: 0;
	text-align:center;
}
#login label {
	font-size: 16pt;
s}
#login table {
	margin-left: auto;
	margin-right:auto;
	text-align:center;
	width: 50%;
}
#login input:not([type=submit]):not([type=file]) {
	width: 100%;
    font-size:20pt;
	overflow:hidden;
}
#checkbox {	
	display: inline;
}
#qrtable, #questtable {
	width: 100%;
}
#qrtable td, #questtable td {
	height: auto;
}
#qr , #quest{
	width: 100%;
}
#qr p, #qr label, #quest label {
	width: 50%;
	text-align: center;
    font-size:16pt;
}
#qr select {
	width: 100%;
	font-size: 16pt;
}
#qr, input:not([type=submit]):not([type=file]) {
	width: auto;
	font-size:16pt;
}
#quest, input:not([type=submit]):not([type=file]) {
	width: auto;
	font-size:16pt;
}
#quest img, #qr img, #qrtable img, #contact img, #login img {
	max-height: 50px;
	max-width: 150px;	
}
 #signup img, #reset img {
	 max-height: 50px;
	max-width: 150px;	
	padding-top: 5px;
 }

#questtable img {
	max-height:125px;
	max-width: 125px;
}
#contact form,table {
	margin-left: 2%;
	width: auto;
}
#contact input:not([type=submit]):not([type=file]) {
	width: auto;
	  font-size:16pt;
}
#contact textarea {
	width: 150%;
}
#contact input:([type=submit]):not([type=file]) {
	background-image: url(/assets/contactbutton.png);
	background-size: 100%;
}

</style>